<div id="box">
  <div id="left">
    <h1>WEB 课程作业</h1>
    <!--<app-diary></app-diary>-->
  </div>
  <div id="right">
    <div id="index-title">快速链接：</div>
    <div>
      <button mat-button (click)="toArticle()">前往文章页面</button>
    </div>
    <div>
      <button mat-button routerLink="/trunk/login">前往登录页面</button>
    </div>
    <div>
      <button mat-button routerLink="/trunk/sign-up">前往注册页面</button>
    </div>
    <div>
      <button mat-button (click)="toPhotoShop()">图片编辑页面</button>
    </div>
    <div>
      <button mat-button color="primary" routerLink="/trunk">标签作业页面</button>
    </div>
  </div>
</div>
