#box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 93vh;
}

#left {
  margin: 0 20px;
  h1 {
    font-size: 32px;
  }
}

#right {
  margin: 0 20px;
  padding: 0 40px;
  border-left: 2px black solid;
  width: 300px;
}

.full-width{
  display: block;
}

.button-row{
  button{
    margin-right: 8px;
  }
}

.block-button{
  display: block;
  width: 100%;
}

.message {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.red{
  color: #D32F2F;
}

.green {
  color: darkgreen;
}
