<div id="box">
  <div id="left">
    <h1>注册</h1>
  </div>
  <div id="right">
    <form class="example-form">
      <mat-form-field class="full-width">
        <input #usernameInput matInput placeholder="用户名"
               [autofocus]="true" name="username" [(ngModel)]="username">
        <mat-hint>{{username ? usernameMessage : ''}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="个人简介（可选）" name="resume" [(ngModel)]="resume">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="密码" name="passwordSignUp" #passwordInput [(ngModel)]="password">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput #passwordEnsureInput type="password" placeholder="重复密码" name="passwordEnsure" [(ngModel)]="passwordEnsure">
      </mat-form-field>

    </form>
    <div class="button-row">
      <button mat-flat-button (click)="signUp()" [disabled]="!canSubmit()">注册</button>
      <button mat-button routerLink="../login">登录</button>
    </div>

    <div *ngIf="errorMessage" class="message red">{{errorMessage}}</div>
    <div *ngIf="successMessage" class="message green">{{successMessage}}</div>
  </div>
</div>
