.part{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 40px 0;
  border-bottom: #D32F2F 2px solid;
}

.words-part{
  text-align: justify;
  flex: auto;
  width: 400px;
}

.image-part{
  flex: auto;
  img{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }
}

#screen-shot{
  margin: auto 0 auto 80px;
  height: 200px;
  box-shadow: #eeeeee 0 0 25px 0;
}

.regular-image{
  flex: none;
  display: inline-block;
  width: 100%;
  img{
    //overflow: hidden;
    width: 100%;
  }
}


@media screen and (min-width: 960px) {
  .words-part{
    display: inline-block;
    flex: none;
    //width: 530px;
    margin-top: 140px;
    margin-bottom: 10vh;
  }
  .image-part{
    position: relative;
    float: right;
    z-index: -2;
    flex: none;
    display: inline-block;
    img{
      position: absolute;
      transform: translate(-10%, -53%);
      display: inline-block;
      //overflow: hidden;
      width: 1500px;
    }
  }
  .regular-image{
    flex: auto;
    width: 500px;
  }

}
